/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 660px) {
	nav img {
		display: none;
	}

	.mobile-nav-icon {
		float: right;
		display: inline-block;
	}

	.main-nav li {
		float: none;
		display: block;
		text-align: left;
	}

	.main-nav {
		transition: 0.5s linear all;
    background-color: #fff;
    color: #fff;
    box-shadow: 2px 2px 5px grey;
	}
}